{% extends "base.html" %}
{% load static %}
{% block content %}
  <h1>О компании</h1>
  <section class="logo" align="center">
    <img src="{% static 'images/logo.jpg' %}" alt="Логотип компании">
  </section>
  <br>

  <!-- Информация о компании -->
  <h2 align="center">О нашей компании</h2>
  <p>Аптечная сеть "Здоровье" - это надежный партнер для вашего здоровья и благополучия.
    Мы предоставляем широкий ассортимент лекарственных препаратов, медицинских товаров и услуг для вашего здоровья
    и комфорта.</p>

  <p>С нашей компанией вы можете быть уверены в качестве продукции, высоком уровне обслуживания и доступных ценах.
    Мы работаем с 2005 года и имеем многолетний опыт в сфере здравоохранения.</p>

  <p>Наша миссия - обеспечить доступность и качество медицинских продуктов и услуг для наших клиентов.
    Мы гордимся нашей репутацией и стремимся к удовлетворению потребностей каждого клиента.</p>

  <br>

  <!-- Видео о компании -->
  <section class="video" align="center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/t2dvY86rHyc" frameborder="0" allowfullscreen></iframe>
  </section>

  <!-- История компании по годам -->
  <h2>История компании</h2>
  <ul>
    <li>2000 год: Открытие первой аптеки в городе.</li>
    <li>2005 год: Расширение сети аптек на территории региона.</li>
    <li>2010 год: Запуск онлайн-заказов и доставки лекарств.</li>
    <li>2015 год: Открытие филиалов в соседних странах.</li>
    <li>2020 год: Партнерство с крупными фармацевтическими компаниями.</li>
  </ul>

  <!-- Реквизиты компании -->
  <h2>Реквизиты компании</h2>
  <address>
    <strong>Название компании:</strong> Аптека "Здоровье"<br>
    <strong>Адрес:</strong> г. Минск, ул. Центральная, 123<br>
    <strong>Телефон:</strong> +375 (29) 123-76-43<br>
    <strong>Email:</strong> info@apteka-zdorovie.com<br>
  </address>

  <!-- Сертификаты компании -->
  <h2>Сертификаты</h2>
  <ul>
    <li>Сертификат 1: Описание сертификата и его значения.</li>
    <li>Сертификат 2: Описание сертификата и его значения.</li>
    <!-- Добавьте больше сертификатов по мере необходимости -->
  </ul>
{% endblock %}
