<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pharmacy{% endblock %}</title>
    <!-- Здесь вы можете добавить общие стили CSS и скрипты JavaScript -->
</head>
<body>
    <header>
        <a href="{% url 'pharmacy_app:index' %}"><img src="{% static 'images/icon.png' %}" alt="Иконка"
                                          width="80" height="80"></a>
<!--        <h1><a href="{% url 'pharmacy_app:index' %}">Главная страница</a></h1>-->
        <ul>
            <li><a href="{% url 'pharmacy_app:medicines' %}">Лекарства</a></li>
            <li><a href="{% url 'pharmacy_app:article_list' %}">Новости</a></li>
            <li><a href="{% url 'pharmacy_app:review_list' %}">Отзывы</a></li>
            <li><a href="{% url 'pharmacy_app:vacancy_list' %}">Вакансии</a></li>
            <li><a href="{% url 'pharmacy_app:privacy_policy' %}">Политика конфиденциальности</a></li>
            <li><a href="{% url 'pharmacy_app:faq_list' %}">Вопросы</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'pharmacy_app:supplier_list' %}">Поставщики</a></li>
            <li><a href="{% url 'pharmacy_app:sale_list' %}">Продажи</a></li>
            <li> |{{ user.username }}|
              <a href="{% url 'pharmacy_app:logout' %}">Выйти</a></li>
            {% else %}
            <li><a href="{% url 'pharmacy_app:register' %}">Зарегистрироваться</a></li>
            <li><a href="{% url 'pharmacy_app:login' %}">Войти</a></li>
            {% endif %}
        </ul>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <!-- Здесь может быть информация о футере, контактах, копирайт и т. д. -->
    </footer>

    <!-- Здесь вы можете добавить общие скрипты JavaScript, если это необходимо -->

</body>
</html>