{% extends "base.html" %}

{% block title %}

<title>Medicines Details Page</title>

{% endblock %}

{% block content %}

{% if user.is_superuser %}
<div>
    <a href="edit/{{medicines.id}}/">Edit medicine</a>
    <a href="delete/{{medicines.id}}">Delete medicine</a>
</div>
{% endif %}

<img src="{{medicines.photo.url}}" width="200" height="150">
<ul>
    <li>{{medicines.code}}</li>
    <li>{{medicines.name}}</li>
    <li>{{medicines.price}}</li>
    <li>{{medicines.description}}</li>
    <li>{{medicines.instruction}}</li>
    <li>{{medicines.category}}</li>
    <li>{{medicines.pharmacy_department}}</li>
    <li>{{medicines.supplier}}</li>
</ul>
{% endblock %}
