{% extends "base.html" %}

{% block content %}
  <h1>Политика конфиденциальности</h1>

  <p>Мы ценим вашу конфиденциальность и стремимся обеспечить безопасность ваших данных. Наша политика конфиденциальности описывает, как мы собираем, используем и защищаем ваши личные данные.</p>

  <h2>Сбор и использование личных данных</h2>
  <p>Мы собираем и используем ваши личные данные только с вашего согласия. Мы можем собирать такие данные, как имя, адрес электронной почты, номер телефона и другие данные, которые вы предоставляете при использовании нашего сайта.</p>

  <h2>Защита ваших данных</h2>
  <p>Мы предпринимаем меры для обеспечения безопасности ваших личных данных. Мы используем современные технологии и методы защиты данных, чтобы предотвратить несанкционированный доступ.</p>

  <h2>Предоставление данных третьим лицам</h2>
  <p>Мы не предоставляем ваши личные данные третьим лицам без вашего разрешения, за исключением случаев, предусмотренных законом.</p>

</div>
{% endblock %}
